@if (todos.length > 0) {
  <table>
    <thead>
      <tr>
        <th>task</th>
        <th>completed</th>
        <th>duration</th>
      </tr>
    </thead>
    <tbody>
      @for (todo of todos; track todo.task) {
        <tr [class.completed]="todo.completed">
          <td>{{ todo.task }}</td>
          <td>{{ todo.completed }}</td>
          <td>{{ todo.duration }}</td>
            <td *ngIf="!todo.completed"> <button>COMPLETE</button></td>
          <td><button>X</button></td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <p>No todos found</p>
}